<h1 class="mb-4">Últimas noticias</h1>
<div class="row">
    <% noticias.forEach(noticia => { %>
        <div class="col-xl-3 mb-4">
            <a style="text-decoration: none;" href="/noticias/<%= noticia.id %>"></a>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= noticia.titulo %></h5>
                    <p class="card-text"><%= noticia.contenido %></p>
                    <p class="card-text text-end"><%= noticia.create_at %></p>
                       <a href="/noticias/by/<%= noticia.id %>">Ver Detalle</a>
                </div>
            </div>
        </div>
    <% }) %>
</div>